# macOS
*.DS_Store
*.vscode
*.json
saved_results/
**/__pycache__/
*.egg-info/
*.png
data/demo_data
data/benchmark_data/
saved_params/

!.vscode/launch.json
!.vscode/settings.json
!saved_results/time_series_toy.png

