build
*.DS_Store
*.vscode
*.json
saved_results/
**/__pycache__/
*.egg-info/
*.png
dist/
data/demo_data
data/benchmark_data/
saved_params/

# Docs
docs/_build/*
!docs/_build/html/

# Figures
!saved_results/time_series_toy.png
