name: Build and Publish to PyPI

on:
  push:
    branches:
      - '**' 
    tags:
      - 'v*'
  pull_request:
    branches:
      - main

jobs:
  build-and-publish:
    name: Build and Publish
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libopenmpi-dev

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install build twine
          # pip install pytagi

          # # Install pytagi from github (TODO: because cannot install from pip)
          # # git clone --branch v0.2.0 https://github.com/lhnguyen102/cuTAGI.git
          # # cd cuTAGI
          # # git submodule update --init --recursive
          # # pip install -r requirements.txt
          # # pip install .
          # # cd ..
          # # 
          # pip install -e .
      
      # - name: Run unit tests
      #   run: pytest canari/test
      #   working-directory: ${{ github.workspace }}/..

      - name: Clean build environment
        run: rm -rf dist/ build/ *.egg-info

      - name: Build package
        run: python -m build

      - name: Upload to PyPI
        if: startsWith(github.ref, 'refs/tags/v')
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          twine upload --verbose --repository pypi dist/*

  unit-test:
    name: Unit Tests on macOS
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          # python -m pip install --upgrade pip
          # python -m pip install build twine

          # git clone --branch v0.2.0 https://github.com/lhnguyen102/cuTAGI.git
          # cd cuTAGI
          # git submodule update --init --recursive
          # pip install -r requirements.txt
          # pip install .
          # cd ..
          pip install pytagi
          pip install -e .

      - name: Run unit tests
        run: pytest canari/test
